*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
:root{
    --main-bg-color: rgba(0, 0, 0, 0.7);
    --highlight-color: #ffe600;
    --text-color: #fff;
    --card-shadow: 0 0 5px #999;
    --body-bg-color: #f0f0f0;
    --body-text-color: #333;
    --nav-bg-hover-color: #ddd;
    --row-text-align: center;
    --footer-bg-color: #333;
    --footer-text-color: #fff;
    --main-font-family: 'Roboto';
}
h1 {
    font-family: var(--main-font-family);
}

nav {
     background: linear-gradient(90deg, #000000, #4a90e2);
    display: flex;
    align-items: center;
    height: 100px;
    justify-content: right;
}

.logo {
    display: flex;
    position: absolute;
    left: 0;
    margin: 100px;
    height: 110px;
    width: 110px;
    margin-top: 5px;
}

a {
    padding: 30px;
    color: #ffffff;
    font-family: 'Roboto';
    text-decoration: none;
    font-size: 20px;
}

li::before {
    content: "";
    background-color: #fff;
    position: absolute;
    left: 20px;
    bottom: -0.3rem;
    height: 3px;
    width: 0;
    transition: 0.3s ease-in-out;
}

li:hover::before {
    content: "";
    background-color: #fff;
    position: absolute;
    left: 20px;
    bottom: -0.3rem;
    height: 3px;
    width: 70%;
}

nav li {
    list-style: none;
    position: relative;
    cursor: pointer;
}

.Aboutnav {
    color: #ff5100;
}

.about {
    width: 100%;
    padding: 78px 0px;
    background: #fff;
}

.about img {
    height: auto;
    width: 600px;
    margin-right: auto;
    margin-left: -90px;
    transition: transform 0.3s ease-in-out;
    animation: fadeInDown 1s ease-out;
    border-radius: 5%;
}

.about img:hover {
    transform: scale(1.1);
}

.about-text {
    width: 550px;
    position: relative;
    z-index: 2;
    width: 550px;
    padding-top: 50px;
}

.main {
    width: 1130px;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.about-text h1 {
    color: #000000;
    font-size: 80px;
    text-transform: capitalize;
    margin-bottom: 20px;
    animation: fadeInDown 1s ease-out;
}

.about-text h5 {
    color: #000000;
    font-size: 50px;
    text-transform: capitalize;
    margin-bottom: 10px;
    letter-spacing: 2px;
    animation: fadeInDown 1s ease-out;
    transition: color 0.5s ease-in-out;
}

.about-text p {
    color: #000000;
    letter-spacing: 1px;
    text-align: justify;
    line-height: 28px;
    font-size: 18px;
    margin-bottom: 30px;
    transition: transform 0.3s ease-in-out;
    animation: fadeInDown 1s ease-out;
}
.about-text h1:hover {
    color: #0084ff;
}
.regions .main {
    width: 1130px;
    max-width: 90%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.regions .region-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-left: 50px;
}

.regions .region-text h2 {
    text-align: center;
    margin-bottom: 10px;
    font-size: 35px;
    margin-left: 200px;
    font-family: var(--main-font-family);
}

.regions .region-text h5 {
    font-size: 40px;
    margin-bottom: 20px;
    color: #EF0107;
}

.regions .region-text p {
    font-size: 24px;
    line-height: 1.5;
    margin-bottom: 40px;
    color: #000000;
}

.regions img {
    flex: 1;
    width: 50%;
    height: auto;
    margin-right: 20px;
    margin-top: 2%;
    animation: fadeInRight 2s ease;
    border-radius: 5%;
    
}

.regions img:hover {
    transform: scale(1.1);
}


footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

.footer-contact p,
.footer-about p {
    margin-bottom: 15px;
}

.footer-hr hr {
    border-color: #fff;
    margin: 20px auto;
}

.footer-hr p {
    font-size: 0.8rem;
}